.positioning{
    margin: 5% 10%;
}

.positioning h1{
    margin-bottom: 50px;
    color: green;
}
.positioning h3{
    color: lightslategray;
}
.positioning h2{
    text-align: center;
}

.appointment-right-img{
    height: 100%;
    width: 100%;
}