.textPosition{
    margin: 40px;
}
a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: black;
}


a:hover{
    font-weight: 700;
    text-decoration: none;
}

.headerLinks{
    float: right;
    margin-right: 100px;
}